@import "tailwindcss";

@theme {
  --color-menu: #fff;
  --color-background: #000;
  --color-discount: #ffeee2;
  --color-amount: #f6f8fd;
  --color-button: #ff7e1b;
  --color-cart: #fff;
  --color-button-hover: #ffab6a;

  --shadow-cart: 0px 20px 50px -20px rgba(29, 32, 38, 0.5);
  --shadow-button: 0px 20px 50px -20px #ff7e1b;

  --breakpoint-mb: 375px;
  --breakpoint-tb: 768px;
  --breakpoint-dk: 1440px;
}

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

body {
  font-family: "Kumbh Sans", sans-serif;
  min-height: 100vh;
  position: relative;
}

body.active {
  background: black;
  opacity: 0.75;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}

.fill-cart {
  filter: brightness(0) invert(1);
}

.fill-cart {
  fill: white;
}

.xIcon {
  filter: brightness(0) invert(1);
}

.xIcon {
  fill: #fff;
}
